
@{
    ViewBag.Title = "Отзывы";
    string transactionUID = ViewBag.TransactionUID;
    string result = ViewBag.Result;
}

@if (string.IsNullOrEmpty(result) && !string.IsNullOrEmpty(transactionUID))
{
    <div class="main" id="form">

        @using (Html.BeginForm("GetResult", "Home", FormMethod.Post))
        {
            <header>
                <h1>Оцените впечатление<br>о&nbsp;заведении</h1>
            </header>
            <div class="container">
                <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
                </div>
                <div class="text" id="message"></div>
                <p>Оставьте пожалуйста свой отзыв</p>
                <textarea class="comm" rows="3" cols="2" name="review"></textarea>
                <p>Выберите категории:</p>
                <div class="category">
                    <div class="choice choice--aava">
                        <input id="toggleButton" type="checkbox" name="category" value="Еда">
                        <label style="width: 32px" for="toggleButton" data-on-text="Еда" data-off-text="Еда"> </label>
                    </div>
                    <div class="choice choice--aava">
                        <input id="toggleButton1" type="checkbox" name="category" value="Сервис">
                        <label style="width: 60px" for="toggleButton1" data-on-text="Сервис" data-off-text="Сервис"></label>
                    </div>
                    <div class="choice choice--aava">
                        <input id="toggleButton2" type="checkbox" name="category" value="Интерьер">
                        <label style="width: 77px" for="toggleButton2" data-on-text="Интерьер" data-off-text="Интерьер"></label>
                    </div>
                    <div class="choice choice--aava">
                        <input id="toggleButton3" type="checkbox" name="category" value="Атмосфера">
                        <label style="width: 88px" for="toggleButton3" data-on-text="Атмосфера" data-off-text="Атмосфера"></label>
                    </div>
                    <div class="choice choice--aava">
                        <input id="toggleButton4" type="checkbox" name="category" value="Ожидание">
                        <label style="width: 85px" for="toggleButton4" data-on-text="Ожидание" data-off-text="Ожидание"></label>
                    </div>
                    <div class="choice choice--aava">
                        <input id="toggleButton5" type="checkbox" name="category" value="Чистота">
                        <label style="width: 70px" for="toggleButton5" data-on-text="Чистота" data-off-text="Чистота"></label>
                    </div>
                </div>
                <p>
                    Порекомендуете ли данную кофейню своим друзьям и близким?
                </p>
                <span>0 - не порекомендую, 10 - порекомендую</span>
                <div class="recomm">
                    <div class="recom recom-from">
                        <input id="toggleButton6" type="radio" name="recomm" value="0" checked>
                        <label style="width: 10px" for="toggleButton6" data-on-text="0" data-off-text="0"> </label>
                    </div>
                    <div class="recom recom-from">
                        <input id="toggleButton7" type="radio" name="recomm" value="1">
                        <label style="width: 10px" for="toggleButton7" data-on-text="1" data-off-text="1"> </label>
                    </div>
                    <div class="recom recom-from">
                        <input id="toggleButton8" type="radio" name="recomm" value="2">
                        <label style="width: 10px" for="toggleButton8" data-on-text="2" data-off-text="2"></label>
                    </div>
                    <div class="recom recom-from">
                        <input id="toggleButton9" type="radio" name="recomm" value="3">
                        <label style="width: 10px" for="toggleButton9" data-on-text="3" data-off-text="3"></label>
                    </div>
                    <div class="recom recom-from">
                        <input id="toggleButton10" type="radio" name="recomm" value="4">
                        <label style="width: 10px" for="toggleButton10" data-on-text="4" data-off-text="4"></label>
                    </div>
                    <div class="recom recom-from">
                        <input id="toggleButton11" type="radio" name="recomm" value="5">
                        <label style="width: 10px" for="toggleButton11" data-on-text="5" data-off-text="5"></label>
                    </div>
                    <div class="recom recom-from">
                        <input id="toggleButton12" type="radio" name="recomm" value="6">
                        <label style="width: 10px" for="toggleButton12" data-on-text="6" data-off-text="6"></label>
                    </div>
                    <div class="recom recom-from">
                        <input id="toggleButton13" type="radio" name="recomm" value="6">
                        <label style="width: 10px" for="toggleButton13" data-on-text="7" data-off-text="7"></label>
                    </div>
                    <div class="recom recom-from">
                        <input id="toggleButton14" type="radio" name="recomm" value="8">
                        <label style="width: 10px" for="toggleButton14" data-on-text="8" data-off-text="8"></label>
                    </div>
                    <div class="recom recom-from">
                        <input id="toggleButton15" type="radio" name="recomm" value="9">
                        <label style="width: 10px" for="toggleButton15" data-on-text="9" data-off-text="9"></label>
                    </div>
                    <div class="recom recom-from">
                        <input id="toggleButton16" type="radio" name="recomm" value="10">
                        <label style="width: 20px" for="toggleButton16" data-on-text="10" data-off-text="10"></label>
                    </div>
                </div>
                @Html.HiddenFor(c => transactionUID)
                <input type="hidden" name="LocalDatetime" />
                <input type="hidden" name="LocalTimeOffset" />
                <footer>
                    <button type="submit" class="negative ui button">Отправить</button>
                </footer>
            </div>
        }
    </div>
}

else
{
    <div style="text-align:center; color:#5f4d50;margin:20% 15px 0">
        <h1>
            @Html.Raw(result)
        </h1>
    </div>
}


@section scripts{

    <script type='text/javascript'>
        $("#form").submit(function () {
            var errors = 0;
            $("div.rating").each(function () {
                if ($(this).children("input:radio:checked").length == 0) {
                    $(this).children(".mrating").show();
                    errors++;
                }
            });
            if (errors != 0) return false;
        });

        $(":radio").click(function () {
            if ($(this).closest("input").siblings(".mrating")) {
                $(this).closest("input").siblings(".mrating").hide();
            }
        });
    </script>

    <script type='text/javascript'>
        document.querySelector('.rating').addEventListener('change', function (e) {
        document.getElementById('message').innerHTML = e.target.value < 4 ? 'Мы стараемся улучшить обслуживание.<br /> Напишите пожалуйста, что вам не понравилось. <br /> Нам очень важно ваше мнение и ваш комментарий поможет нам исправить недостатки.' : '';
        });
    </script>

    <script type='text/javascript'>
        document.querySelector('.recomm').addEventListener('change', function (e) {
            document.getElementById('title').innerHTML = e.target.title + '';
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('[name="LocalDatetime"]').val(OnDate());
            $('[name="LocalTimeOffset"]').val(OnTimeZone());
        });

        function OnDate() {
            var d = new Date();
            var day = d.getDate();
            var month = d.getMonth() + 1;
            var year = d.getFullYear();
            var h = d.getHours();
            if (h < 10) {
                h = '0' + h;
            };
            var m = d.getMinutes();
            if (m < 10) {
                m = '0' + m;
            }
            var s = d.getSeconds();
            if (s < 10) {
                s = '0' + s;
            }
            return day + '.' + month + '.' + year + ' ' + h + ':' + m + ':' + s;
        }
        function OnTimeZone() {
            var d = new Date();
            return - d.getTimezoneOffset() / 60;
        }
    </script>
}